<h2>New post</h2>
<form action = "/posts" method = "POST" enctype="multipart/form-data">
  <%- include('_form_fields')  %> 
  <a href = "/posts">Cancel</a>
  <button type = "submit">Create</button>
</form>