<h2>Recently posted</h2>
<div>
  <% posts.forEach(post => {%>
    <a href = "/posts/<%= post.id %> ">
      <img height = "150" width = "100" src ="<%= post.coverImagePath %> ">
    </a>
  <% }) %>
</div>