<header>
  <nav>
    <a href = "/">Database</a>
    <ul>
      <li><a href = "/users">Users</a></li>
      <li><a href = "/users/new">Add user</a></li>
      <li><a href = "/posts">Posts</a></li>
      <li><a href = "/posts/new">Add post</a></li>
    </ul>
  </nav>
</header>